name: "Reusable Workflows CodeQL"

on:
  workflow_call:
    inputs:
      runs-on:
        required: true
        type: string
      environment:
        required: true
        type: string
      working-directory:
        required: true
        type: string
      shell:
        required: true
        type: string
      project-name:
        required: true
        type: string              
      languages:
        required: true
        type: string
       
jobs:
  Security:
    name: Security
    runs-on: ${{ inputs.runs-on }}
    defaults:
      run:
        shell: ${{ inputs.shell }}
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: actions/checkout@v3

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: ${{ inputs.languages }}

      - if: inputs.languages == 'java' 
        name: Build Java
        run: |
          echo "Antes do download"
          ls -lrth --color
          make bootstrap
          make release

      - if: inputs.languages == 'java'
        uses: actions/download-artifact@v3
        with:
          name: ${{ inputs.project-name }}
          path: target

      - name: "Depois do download"
        run: |
          echo "Depois do download"
          ls -lrth --color
          ls -lrth target

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2
