name: "Reusable Workflows CodeQL"

on:
  workflow_call:
    inputs:
      runs-on:
        required: true
        type: string
      environment:
        required: true
        type: string
      working-directory:
        required: true
        type: string
      shell:
        required: true
        type: string
      project-name:
        required: true
        type: string              
      languages:
        required: true
        type: string
       
jobs:
  Security:
    name: Security
    runs-on: ${{ inputs.runs-on }}
    permissions:
      security-events: write
      actions: read
      contents: read    
    defaults:
      run:
        shell: ${{ inputs.shell }}
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: actions/checkout@v3

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: ${{ inputs.languages }}
      
      - run: |
          if [ -d "target" ]; then
            echo "Já existe o diretório"
            ls -lrth target
          else
            echo "NÃO existe o diretório"
            mkdir target
          fi
              
      - uses: actions/download-artifact@v3
        with:
          name: ${{ inputs.project-name }}
          path: ${{ github.workspace }}/${{ inputs.working-directory }}/target

      - run: ls -lrth target
      
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2
